body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

header h1 {
	margin: 0;
	font-size: 36px;
}

header h2 {
	margin: 0;
	font-size: 18px;
}

main {
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
}

section {
	flex-grow: 1;
	flex-basis: 60%;
	margin-right: 20px;
}

section h3 {
	font-size: 24px;
	margin-top: 0;
}

article {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

article:last-of-type {
	border-bottom: none;
}

article h4 {
	margin-top: 0;
	font-size: 20px;
}

article img {
	float: left;
	margin-right: 20px;
}

article p {
	margin: 0;
}

article a {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
	margin-top: 10px;
	text-decoration: none;
}


